xml/riis.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = riis

riis = element riis {(booktitle|illustration|titlepage|copyrightpage|preface|tableofcontents|listofillustrations|quote|introduction|chapter|ending|appendix|transcribersNote)+}

booktitle = element booktitle {text}

illustration = element illustration {name, text}
name = attribute name {text}

titlepage = element titlepage {(author|text)+}
author = element author {text}

copyrightpage = element copyrightpage {text}

preface = element preface {(p|text)+}

tableofcontents = element tableofcontents {text}

listofillustrations = element listofillustrations {text}

quote = element quote {text}

introduction = element introduction {(footnote|illustration|text|p)+}
footnote = element footnote {number, text}
number = attribute number {xsd:integer}

chapnum = element chapnum {number, text}

chaptitle = element chaptitle {name, text}

chapter = element chapter {(text|chapnum|chaptitle|p|footnote|illustration|table)+}

p = element p {(text|immigrants|conditions|death|vice|disease|crime|work|policing|table|children|charity)+}

immigrants = element immigrants {nationality, text}
nationality = attribute nationality {text}

conditions = element conditions {type, text}
type = attribute type {text}

death = element death {cause, text}
cause = attribute cause {text}

vice = element vice {type, text}

disease = element disease {type, text}

crime = element crime {type, text}

work = element work {job, text}
job = attribute job {text}

policing = element policing {text}


children = element children {text}

charity = element charity {text}

appendix = element appendix {(text|footnote|table|p)+}
table = element table {id, text}
id = attribute id {text}

ending = element ending {(p|text)+}

transcribersNote= element transcribersNote {(p|text)+}
