xml/riis.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = riis

riis = element riis {(booktitle|illustration|titlepage|copyrightpage|preface|tableofcontents|listofillustrations|quote|introduction|chapter|ending|appendix|transcribersNote)+}

booktitle = element booktitle {text}

illustration = element illustration {name, text}
name = attribute name {text}

titlepage = element titlepage {(author|text)+}
author = element author {text}

copyrightpage = element copyrightpage {text}

preface = element preface {(p|text)+}

tableofcontents = element tableofcontents {text}

listofillustrations = element listofillustrations {text}

quote = element quote {text}

introduction = element introduction {(footnote|illustration|text|p)+}
footnote = element footnote {number, text}
number = attribute number {xsd:integer}

chapnum = element chapnum {number, text}

chaptitle = element chaptitle {name, text}

chapter = element chapter {(text|chapnum|chaptitle|p|footnote|illustration|table|ul)+}

p = element p {(text|immigrants|conditions|death|vice|disease|crime|work|policing|table|children|charity|class|a)+}

immigrants = element immigrants {nationality, text}
nationality = attribute nationality {text}

conditions = element conditions {type, text}
type = attribute type {text}

death = element death {cause, text}
cause = attribute cause {text}

vice = element vice {type, text}

disease = element disease {type, text}

crime = element crime {type, text}

work = element work {job, text}
job = attribute job {text}

policing = element policing {text}


children = element children {text}

charity = element charity {text}

appendix = element appendix {(text|footnote|table|p)+}
table = element table {(id|text|class|data-summary|tbody|style)+}
id = attribute id {text}
class = attribute class {text}
data-summary = attribute data-summary {text}
tbody = element tbody {(tr|text|a)+}
tr = element tr {(td|text)+}
td = element td {(a|text|class|colspan|span)+}
a = element a {(text|class|id|title|href)+}
style = attribute style {text}
ul = element ul {(li|text)+}
li = element li {text}
colspan = attribute colspan {text}
span = element span {(text|class|br)+}
title = attribute title {text}
href = attribute href {text}
br = element br {text}

ending = element ending {(p|text)+}

transcribersNote= element transcribersNote {(p|text)+}
