xml/riis.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = riis

riis = element riis {(booktitle|illustration|titlepage|copyrightpage|preface|tableofcontents|listofillustrations|quote|introduction|chapnum|chaptitle|chapter|appendix|ending|transcribersNote)+}

booktitle = element booktitle {text}

illustration = element illustration {name, text}
name = attribute name {text}

titlepage = element titlepage {(author|text)+}
author = element author {text}

copyrightpage = element copyrightpage {text}

preface = element preface {text}

tableofcontents = element tableofcontents {text}

listofillustrations = element listofillustrations {text}

quote = element quote {text}

introduction = element introduction {(footnote|illustration|text)+}
footnote = element footnote {number, text}
number = attribute number {xsd:integer}

chapnum = element chapnum {number, text}

chaptitle = element chaptitle {name, text}

chapter = element chapter {(text|immigrants|conditions|death|vice|disease|crime|footnote|illustration|work|policing|table|children|charity)+}

immigrants = element immigrants {nationality, text}
nationality = attribute nationality {text}

conditions = element conditions {type, text}
type = attribute type {text}

death = element death {cause, text}
cause = attribute cause {text}

vice = element vice {type, text}

disease = element disease {type, text}

crime = element crime {type, text}

work = element work {job, text}
job = attribute job {text}

policing = element policing {text}

table = element table {text|xsd:integer}

children = element children {text}

charity = element charity {text}

appendix = element appendix {text|xsd:integer}

ending = element ending {text}

transcribersNote= element transcribersNote {text}
